# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp/
.pnp.js
package-lock.json

# Hardhat
cache/
artifacts/
typechain/
typechain-types/
cache/*

# Solidity
build/
coverage/
coverage.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IPFS
.ipfs/

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/

# Hardhat deployment history
deployments/

# Logs
logs
*.log

# Debug
.debug

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

adress-hardhat-testlocal

darkduck-dapp/.next/
